extends ../layout

block content
  main
    section.section
      br
      .container
        section.hero.is-small.is-warning
          .hero-body
            h1.title
              | Serverstatus
            h2.subtitle
              | GER Status: 
              span.has-text-danger OFF
              |  | FRA Status: 
              span.has-text-success ON
              |  | CAN Status: 
              span.has-text-success ON
        br
        br
        br
        .tabs.is-large.is-centered
          ul
            li.is-active
              a(href='/serverstatus/ger') GER
            li
              a(href='/serverstatus/fra') FRA
            li
              a(href='/serverstatus/can') CAN
        article.tile.is-child.notification.is-white.has-shadow
          .box
            p.title OpenFNG
            p.subtitle
              | Map: openfng5-Beat
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title BoomFNG 1
            p.subtitle
              | Map: openfng5-Beat
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title BoomFNG 2
            p.subtitle
              | Map: openfng6
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title SoloFNG
            p.subtitle
              | Map: openfng5-Beat
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Instagib
            p.subtitle
              | Map: ctf4_old
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title HMH-Monster
            p.subtitle
              | Map: ktm5
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Acception Test
            p.subtitle
              | Map: EdgeJump
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title FreeZe
            p.subtitle
              | Map: FreeZe
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Vanilla
            p.subtitle
              | Map: ctf4_old
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Bomb
            p.subtitle
              | Map: bomb_s
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Race 1
            p.subtitle
              | Map: run_4Tezcan
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Race 2
            p.subtitle
              | Map: run_wild
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Race 3
            p.subtitle
              | Map: run_paradise_sky
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Football
            p.subtitle
              | Map: foot_big
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Gores
            p.subtitle
              | Map: DoNe
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title TeeSmash
            p.subtitle
              | Map: SkySmasher
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Race Test
            p.subtitle
              | Map: 2222
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Fly
            p.subtitle
              | Map: flyway2thecavefixed
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan