extends ../layout

block content
  main
    section.section
      br
      .container
        section.hero.is-small.is-warning
          .hero-body
            h1.title
              | Serverstatus
            h2.subtitle
              | GER Status: 
              span.has-text-danger OFF
              |  | FRA Status: 
              span.has-text-success ON
              |  | CAN Status: 
              span.has-text-success ON
        br
        br
        br
        .tabs.is-large.is-centered
          ul
            li
              a(href='/serverstatus/ger') GER
            li.is-active
              a(href='/serverstatus/fra') FRA
            li
              a(href='/serverstatus/can') CAN
        article.tile.is-child.notification.is-white.has-shadow
          .box
            p.title TeeSmash
            p.subtitle
              | Map: SkySmasher
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Race 1
            p.subtitle
              | Map: run_universum
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Race 2
            p.subtitle
              | Map: run_unique_3
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
          .box
            p.title Fly
            p.subtitle
              | Map: flying2fruity
              .columns
                .column.is-one-quarter
                  .box.has-text-centered.hb
                    section.hero
                      h1.title
                        | nameless tee
                      h2.subtitle
                        | nameless clan
