extends layout

block content
  main
    br
    section.section
      .container
        .columns
            .column.is-one-third
                | First column
            .column.is-one-third
                | Second column
            .column.is-one-third
                | Third column

block scripts
  script(src="/static/js/adminlogin.js")
