extends layout

block content
  main
    br
    section.section
      .container
        .box
          .content
            h1.has-text-centered= message
            hr
            h3.has-text-centered Status: #{error.status}
            if error.stack
              pre #{error.stack}
