extends layout

block content
  main
    br
    section.section
      .container
        .card
          .card-header
            .card-header-title
              p.title= message
          .card-content
            p.subtitle Status: #{error.status}
            pre #{error.stack}