extends layout

block content
  main
    section.section
      .container
        center
          picture
            source(srcset=`/static/img/st2.png` alt="welcome to our clanpage!" style="max-height: 220px;" media="(prefers-color-scheme: dark)")
            img(src=`/static/img/st.png` alt="welcome to our clanpage!" style="max-height: 220px;")
        .columns
          .column
            .card.unique-card
              .card-content
                h1.title.is-2.has-text-centered Our Community
                .content
                  p
                    | Since 2014, we are a community all around the platformer
                    | game <a href="https://www.teeworlds.com/">Teeworlds</a>. Everyone can play on <a href="/serverstatus">our servers</a> located
                    | in four countries running a variety of Teeworlds
                    | gametypes. Most notably our feature-rich Race modification
                    | as well as custom mods like <a href="https://github.com/timazuki/TeeSmash">TeeSmash</a> for which we even held
                    | a <a href="/tournaments">tournament</a>.
                  center
                    img(src=`/static/img/unique.png` alt="unique" style="padding-top: 10px")
                  p
                    | If you wish to become an <a href="/member">official member</a> and wear our clantag
                    | in-game you can <a href="/apply">apply here</a>. We are proud of our steady
                    | memberbase and the nice and mature atmosphere in our
                    | community.
                  p
                    | The source code for this website and all the game
                    | servers we host is on <a href="https://github.com/unique-clan">GitHub</a>.
              footer.card-footer
                p.card-footer-item
                  a(href="https://discord.gg/gbgEs7m6kK")
                    img(src="/static/img/discord-logo.png")
                p.card-footer-item
                  a(href="https://github.com/unique-clan")
                    img(src="/static/img/github-logo.png")
                p.card-footer-item
                  a(href="/static/img/unique-clanskin.rar" download)
                    img(src="/static/img/clanskin-download.png")
          .column
            .card.unique-card
              .card-content
                h1.title.is-2.has-text-centered Unique Race
                .content
                  p
                    | Unique Race is our Race modification based on the <a href="https://github.com/ddnet/ddnet">DDNet</a>
                    | source. The goal is to reach the finish line as fast as
                    | possible on different <a href="/maps">maps</a>. On our servers you can:
                  ul
                    li Enjoy regular releases of maps
                    li Score records with an accuracy of a thousandth of a second
                    li Compete for better times in a <a href="/ranks">global ranking</a>
                    li Collect <a href="/ranks#points-calculation">time based points</a>
                    li Play on both 0.6 and 0.7 Teeworlds clients            
                  .video-container
                    iframe.video(src='https://www.youtube.com/embed/BnwHuOedMog?si=bdQXV4k8qfGnZKed' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
