extends layout

block content
  main
    section.hero
      .hero-body
        .container
          .content.has-text-centered
            img(src='/img/st.png', alt='welcome to our clanpage!')   
    section.hero.is-dark
      .hero-body
        .container
          h1.title About
          h2.subtitle
            | Unique was founded 26.12.2014 by Tezcan. 
            | It is a familiarly allround clan with nice players you can play with. 
            | We have up to 26 servers, including different gametypes, where you can score ranks and enjoy your time!
    section.hero.is-warning
      .hero-body
        .container
          h1.title Clan Skin
          h2.subtitle Now for everyone!
          img.image(src='/img/unique-clanskin.png', alt='unique-clanskin')
    section.hero.is-dark
      .hero-body
        .container
          h1.title Discord Server
          h2.subtitle Contact us
          img.image(src='/img/discord-white.png', alt='discord')
          

    // img(src='/img/unique.png', alt='unique')
                  

