extends layout

block content
  main
    section.section
      .container
        .content.has-text-centered
          img(src=`/static/img/st.png` alt="Welcome to our clanpage!")
        hr
        .columns
          .column
            .card.article.unique-card
              .card-content
                .media
                  .media-center
                  .media-content.has-text-centered.no-overflow
                    p.title.article-title Clanskin
                    p.subtitle.is-6.article-subtitle
                      | Now for everyone!
                .content.article-body.has-text-centered
                  p
                    img(src=`/static/img/unique-clanskin.png` alt="unique-clanskin")
          .column
            .card.article.unique-card
              .card-content
                .media
                  .media-center
                  .media-content.has-text-centered.no-overflow
                    p.title.article-title Discord
                    p.subtitle.is-6.article-subtitle
                      | Contact us!
                .content.article-body.has-text-centered
                  p
                    a(href="http://discord.gg/Yhehrub")
                      img(src=`/static/img/discord.png` alt="discord")
          .column
            .card.article.unique-card
              .card-content
                .media
                  .media-center
                  .media-content.no-overflow
                    p.title.article-title.has-text-centered About
                    p.subtitle.is-6.article-subtitle
                      | Unique was founded 26.12.2014 by Tezcan. It is a venerable allround clan with nice players you can play with. We host servers in Germany, France and Canada with a variety of gametypes, where you can score ranks and enjoy your time!
                .content.article-body.has-text-centered
                  p
                    img(src=`/static/img/unique.png` alt="unique")