extends layout

block content
  main
    section.section
      .container
        center
          .theme-image.theme-image-light(aria-label="welcome to our clanpage!")
          .theme-image.theme-image-dark(aria-label="welcome to our clanpage!")
        .columns
          .column
            .card.unique-card
              .card-content
                h1.title.is-2.has-text-centered Our Community
                .content
                  p
                    | Since 2014, we are a community all around the platformer game <a href="https://www.teeworlds.com/">Teeworlds</a>. 
                    | Over the years, we've grown into a friendly group of <a href="/ranks">players</a> from all around the world 
                    | who share a passion for racing, competition and fun.
                  p
                    | <a href="/serverstatus">Our servers</a> are located across multiple countries and
                    | exclusively run our feature-rich <a href="https://github.com/unique-clan/unique-race">Unique Race</a> 
                    | modificiation. Offering players a smooth, competitive racing experience focused on speed, precision,
                    | creativity and skill.
                  center
                    img(src=`/static/img/unique.png` alt="unique" style="padding-top: 10px")
                  p
                    | We've organized <a href="/tournaments">tournaments</a> in the past, and new ones may be 
                    | coming soon! Join our <a href="https://discord.gg/gbgEs7m6kK">Discord</a> to stay
                    | up to date with announcements, events, and everything happening in the community.
                  p
                    | If you'd like to become an <a href="/member">official member</a> and wear our clantag
                    | in-game, you can <a href="/apply">apply here</a>. We are proud of our steady
                    | memberbase and the welcoming, mature atmosphere in our community.
                  p
                    | The source code for this website and all the game
                    | servers we host is on <a href="https://github.com/unique-clan">GitHub</a>.
              footer.card-footer
                p.card-footer-item
                  a(href="https://discord.gg/gbgEs7m6kK")
                    img(src="/static/img/discord-logo.png")
                p.card-footer-item
                  a(href="https://github.com/unique-clan")
                    img(src="/static/img/github-logo.png")
                p.card-footer-item
                  a(href="/static/img/unique-clanskin.rar" download)
                    img(src="/static/img/clanskin-download.png")
          .column
            .card.unique-card
              .card-content
                h1.title.is-2.has-text-centered Unique Race
                .content
                  p
                    | Unique Race is our Race modification based on the <a href="https://github.com/ddnet/ddnet">DDNet</a>
                    | source. The goal is to reach the finish line as fast as
                    | possible on different <a href="/maps">maps</a>. On our servers you can:
                  p
                      span.icon.icon-spacer
                        i.fas.fa-map-marked-alt
                      | Enjoy regular releases of maps
                  p
                      span.icon.icon-spacer
                        i.fas.fa-stopwatch
                      | Score records with an accuracy of a thousandth of a second
                  p
                      span.icon.icon-spacer
                        i.fas.fa-trophy
                      | Compete for better times in a <a href="/ranks">global ranking</a>
                  p
                      span.icon.icon-spacer
                        i.fas.fa-coins
                      | Collect <a href="/ranks#points-calculation">time based points</a>
                  p
                      span.icon.icon-spacer
                        i.fas.fa-gamepad
                      | Play on both 0.6 and 0.7 Teeworlds clients
                  .video-container
                    iframe.video(src='https://www.youtube.com/embed/BnwHuOedMog?si=bdQXV4k8qfGnZKed' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)

