extends layout

block content
  main
    section.section
      .container
        .content.has-text-centered
          img(src=`/img/st.png` alt="welcome to our clanpage!")
        hr
    .container
      .columns
        .column
          .card.article
            .card-content
              .media
                .media-center
                  img.author-image(src=`/img/tee.png` alt="Placeholder image")
                .media-content.has-text-centered
                  p.title.article-title Clanskin
                  p.subtitle.is-6.article-subtitle
                    | Now for everyone!
              .content.article-body.has-text-centered
                p
                  img(src=`/img/unique-clanskin.png` alt="unique-clanskin")
        .column
          .card.article
            .card-content
              .media
                .media-center
                  img.author-image(src=`/img/discord-icon.png` alt="discord")
                .media-content.has-text-centered
                  p.title.article-title Discord
                  p.subtitle.is-6.article-subtitle
                    | Contact us!
              .content.article-body.has-text-centered
                p
                  img(src=`/img/discord.png` alt="discord")
        .column
          .card.article
            .card-content
              .media
                .media-center
                  img.author-image(src=`/img/info-icon.png` alt="info")
                .media-content.has-text-centered
                  p.title.article-title About
                  p.subtitle.is-6.article-subtitle
                    | Unique was founded 26.12.2014 by Tezcan. It is a familiarly allround clan with nice players you can play with. We have up to 16 servers, including different gametypes, where you can score ranks and enjoy your time!
              .content.article-body.has-text-centered
                p
                  img(src=`/img/unique.png` alt="unique")