extends layout-bgimage

block content
  main
    section.section
      .container
        .content.has-text-centered(style="padding-top: 20px")
          img(src=`/img/st.png` alt="welcome to our clanpage!")
        .columns
          .column
            .card.article.unique-card
              .card-content
                .media
                  .media-center
                    <!-- img.author-image(src=`/img/tee.png` alt="Placeholder image") -->
                  .media-content.has-text-centered.no-overflow
                    p.title.article-title Clanskin
                    p.subtitle.is-6.article-subtitle
                      | Now for everyone!
                .content.article-body.has-text-centered
                  p
                    img(src=`/img/unique-clanskin.png` alt="unique-clanskin")
          .column
            .card.article.unique-card
              .card-content
                .media
                  .media-center
                    <!-- img.author-image(src=`/img/discord-icon.png` alt="discord") -->
                  .media-content.has-text-centered.no-overflow
                    p.title.article-title Discord
                    p.subtitle.is-6.article-subtitle
                      | Contact us!
                .content.article-body.has-text-centered
                  p
                    a(href="http://discord.gg/Yhehrub")
                      img(src=`/img/discord.png` alt="discord")
          .column
            .card.article.unique-card
              .card-content
                .media
                  .media-center
                    <!-- img.author-image(src=`/img/info-icon.png` alt="info") -->
                  .media-content.no-overflow
                    p.title.article-title.has-text-centered About
                    p.subtitle.is-6.article-subtitle
                      | Unique was founded 26.12.2014 by Tezcan. It is a venerable allround clan with nice players you can play with. We host servers in Germany, France and Canada with a variety of gametypes, where you can score ranks and enjoy your time!
                .content.article-body.has-text-centered
                  p
                    img(src=`/img/unique.png` alt="unique")
