extends layout

block content
  main
    br
    section.section
      .container
        .column.is-half.is-offset-3
          .card
            .card-image
              img(src=`static/maps/run_4DoNe.png`)
            .card-content
                p.title.has-text-centered run_4DoNe
                hr
                p.subtitle 📝 Mappers: Tezcan
                p.subtitle 📯 Released on 2012-02-03
                p.subtitle 📂 Category: Short
                p.subtitle 🏁 Finished by 5 tees
                a.span.button.is-link Preview          
                a.span.button.is-link.tr Download
        section.section
        .columns
          .column
            .box
              section.hero
                h1.title Top 10
                .horizontal-scroll
                  table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                    thead
                      tr
                        th Rank
                        th Player
                        th Time
                    tbody
                      tr
                        th 1
                        td Zwiebel
                        td 00.04.333
                      tr    
                        th 2
                        td Ryono
                        td 00.04.334
                      tr    
                        th 3
                        td nilo
                        td 00.04.336
                      tr
                        th 4
                        td Ryono
                        td 00.04.338
                      tr
                        th 5
                        td Ryono
                        td 00.04.355
                      tr    
                        th 6
                        td Ryono
                        td 00.04.334
                      tr    
                        th 7
                        td Ryono
                        td 00.04.334
                      tr
                        th 8
                        td Ryono
                        td 00.04.334
                      tr    
                        th 9
                        td Ryono
                        td 00.04.334
                      tr
                        th 10
                        td Ryono
                        td 00.04.334
          .column
            .box
              section.hero
                h1.title Last Maprecords
                .horizontal-scroll
                  table.table.is-narrow.is-striped.is-hoverable.is-fullwidth
                    thead
                      tr
                        th Date
                        th Player
                        th Time
                    tbody
                      tr
                        td 22.02.1234
                        td Zwiebel
                        td 00.04.333
                      tr    
                        td 32.13.2019
                        td Ryono
                        td 00.04.334
                      tr    
                        td 22.04.2013
                        td nilo
                        td 00.04.336
                      tr
                        td 32.13.2022
                        td Ryono
                        td 00.04.338
                      tr
                        td 32.13.2343
                        td Ryono
                        td 00.04.355
                      tr    
                        td 32.13.2019
                        td Ryono
                        td 00.04.334
                      tr    
                        td 32.13.2019
                        td Ryono
                        td 00.04.334
                      tr
                        td 32.13.2019
                        td Ryono
                        td 00.04.334
                      tr    
                        td 32.13.2019
                        td Ryono
                        td 00.04.334
                      tr
                        td 32.13.2019
                        td Ryono
                        td 00.04.334
