extends layout

block content
  main
    br
    br
    br
    br
    section.hero.is-dark
      .hero-body
        .container
          h1.title
            | Mapper: MAPPERNAME
          h2.subtitle
            | Maps: 10 | Short: 4 | Middle: 2 | Long: 4
    section.section
      .container
        p.title Short Maps
        .columns
          .column.is-4
            .card
              .card-image
                img(src=`static/img/mapimage/run_4DoNe.png`)
              .card-content
                p.title.has-text-centered run_4DoNe
          .column.is-4
            .card
              .card-image
                img(src=`static/img/mapimage/run_4DoNe.png`)
              .card-content
                p.title.has-text-centered run_4DoNe
          .column.is-4
            .card
              .card-image
                img(src=`static/img/mapimage/run_4DoNe.png`)
              .card-content
                p.title.has-text-centered run_4DoNe
    section.section
      .container
        p.title Middle Maps
        .columns
          .column.is-4
            .card
              .card-image
                img(src=`static/img/mapimage/run_4DoNe.png`)
              .card-content
                p.title.has-text-centered run_4DoNe
          .column.is-4
            .card
              .card-image
                img(src=`static/img/mapimage/run_4DoNe.png`)
              .card-content
                p.title.has-text-centered run_4DoNe
          .column.is-4
            .card
              .card-image
                img(src=`static/img/mapimage/run_4DoNe.png`)
              .card-content
                p.title.has-text-centered run_4DoNe
    section.section
      .container
        p.title Long Maps
        .columns
          .column.is-4
            .card
              .card-image
                img(src=`static/img/mapimage/run_4DoNe.png`)
              .card-content
                p.title.has-text-centered run_4DoNe
          .column.is-4
            .card
              .card-image
                img(src=`static/img/mapimage/run_4DoNe.png`)
              .card-content
                p.title.has-text-centered run_4DoNe
          .column.is-4
            .card
              .card-image
                img(src=`static/img/mapimage/run_4DoNe.png`)
              .card-content
                p.title.has-text-centered run_4DoNe