extends layout

block content
  main
    br
    section.section
      .container
        .card
          .card-content
            .content
              h1 Map Upload
              p Before you upload your map, be aware that if your Map isn't good enough, we will delete it without notifying you.
              p Also write your Ingame-Name in the map like that: run_example_[YOUR_NAME].map
          .card-footer
            .card-footer-item
                .file.is-warning.has-name.is-fullwidth
                  label.file-label
                    input#file.file-input(type='file', name='resume')
                    span.file-cta
                      span.file-icon
                        i.fa.fa-upload
                      span.file-label
                        | Choose a file…
                    span#filename.file-name
                      | run_example.map
            .card-footer-item
              a.button.is-warning.is-outlined.mb Upload