extends layout

include templates/mixins.pug

block content
  main
    .container
      br
      section.section
        h1.title Leaders
        .columns.is-multiline
          +member('Tezcan', 'Race, DDRace', 'TR', 'Founder, Web Devel. Leader')
          +member('timakro', 'Race, DDRace', 'DE', 'Technical Leader')
          +member('Ryozuki', 'DDRace', 'XCA', 'Web Devel. Leader')
      section.section
        h1.title Members
        .columns.is-multiline
          +member('tobu.', 'DDRace')
          +member('Zonsa', 'DDRace, Gores')
          +member('Avelton', 'Race, DDRace')
          +member('dcgù', 'DDRace', 'FR')
          +member('Husky', 'DDRace, zCatch')
          +member('bano', 'DDRace, FNG')
          +member('Nocsis', 'DDRace, Gores')
          +member('KlexMikrowelle', 'DDRace')
          +member('Juandissimo', 'DDRace')
          +member('Moni', 'DDRace')
          +member('µLTim8*', 'DDRace, zCatch')
          +member('x0seF', 'gCTF, zCatch', 'FR')
          +member('Ninja_cool', 'Race, Gores', 'BY')
          +member('KlimoZ', 'Race, Gores', 'PL')
          +member('Derp', 'Race, iCTF')
          +member('NeXus', 'Race, DDRace')
          +member('Floral Strobe', 'Race, gCTF', 'FR')
          +member('Matrose l_I', 'Race, DDRace')