extends layout

block content
  main
    br
    section.section
      .container
        .card
          .card-header
            .card-header-title
              p.title Profile: Tezcan
          .card-content
            p.subtitle Ingame-Name: Tezcan
            p.subtitle Country: DE
            p.subtitle Registered since: 25.11.2018
            p.subtitle Gamemodes: Race, DDRace, zCatch, Vanilla, Instagib, OpenFNG, BoomFNG
            p.subtitle Favorite Gamemode: Race 