extends layout

block content
  main
    br
    br
    br
    br
    section.hero.is-dark
      .hero-body 
        .container 
          h1.title
            | Monthly Shorts
          h2.subtitle
            br 
            | Five exciting Maps where the time is kept secret till the end of the month! 
    section.section
      .container
          //- YouTube Video Carousel
          .video-carousel-container
            .video-carousel
              button.carousel-btn.carousel-prev#carouselPrev
                span.icon
                  i.fas.fa-chevron-left
              .carousel-wrapper
                .carousel-track#carouselTrack
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/BnwHuOedMog?si=bdQXV4k8qfGnZKed' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/zAcevVN4t1o?si=6lcuZUr01GSeHZGb' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/jYZo_lAcf6o?si=4keimBRrdKiXqRwn' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/T1ujMGiTH6o?si=O2Lmibkdfw_DJb6d' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/8qK84t6nh8I?si=KXuOvoyjJ-dvVGDV' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
              button.carousel-btn.carousel-next#carouselNext
                span.icon
                  i.fas.fa-chevron-right
            
            .carousel-indicators#carouselIndicators
                span.indicator.active(data-index='0')
                span.indicator(data-index='1')
                span.indicator(data-index='2')
                span.indicator(data-index='3')
                span.indicator(data-index='4')
          
          //- Monthly Champions Table
          .monthly-champions-section.mt-6
            h2.title.has-text-centered.mb-5 Champions of December!
            .box
              //- Champions Table
              .table-container
                table.table.is-fullwidth.is-striped.is-hoverable.champions-table
                  thead
                    tr
                      th.has-text-centered
                        span.icon.has-text-warning
                          i.fas.fa-trophy
                        | Rank
                      th.has-text-centered
                        span.icon(style="color: #3273dc;")
                          i.fas.fa-rocket
                        |  Fullspeed
                      th.has-text-centered
                        span.icon(style="color: #ff9800;")
                          i.fas.fa-link
                        |  Hook
                      th.has-text-centered
                        span.icon.has-text-success
                          i.fas.fa-crosshairs
                        |  Skill
                      th.has-text-centered
                        span.icon.has-text-danger
                          i.fas.fa-laugh
                        |  LOL
                      th.has-text-centered
                        span.icon.has-text-warning
                          i.fas.fa-flag
                        |  Fastcap
                  tbody
                    tr
                      td.rank-cell 1st
                      td.has-text-centered
                        strong timakro
                        br
                        span.time-display 120.456s
                      td.has-text-centered
                        strong Assa
                        br
                        span.time-display 240.500s
                      td.has-text-centered
                        strong Tezcan
                        br
                        span.time-display 65.800s
                      td.has-text-centered
                        strong Ryozuki
                        br
                        span.time-display 138.500s
                      td.has-text-centered
                        strong Ryozuki
                        br
                        span.time-display 29.800s
                    
                    tr
                      td.rank-cell 2nd
                      td.has-text-centered
                        strong Ryozuki
                        br
                        span.time-display 121.234s
                      td.has-text-centered
                        strong Ryozuki
                        br
                        span.time-display 241.800s
                      td.has-text-centered
                        strong Assa
                        br
                        span.time-display 67.100s
                      td.has-text-centered
                        strong nether
                        br
                        span.time-display 139.800s
                      td.has-text-centered
                        strong timakro
                        br
                        span.time-display 30.500s
                    
                    tr
                      td.rank-cell 3rd
                      td.has-text-centered
                        strong Tezcan
                        br
                        span.time-display 122.890s
                      td.has-text-centered
                        strong Tezcan
                        br
                        span.time-display 243.200s
                      td.has-text-centered
                        strong nether
                        br
                        span.time-display 68.500s
                      td.has-text-centered
                        strong Assa
                        br
                        span.time-display 141.200s
                      td.has-text-centered
                        strong Tezcan
                        br
                        span.time-display 31.900s
                    
                    tr
                      td.rank-cell 4th
                      td.has-text-centered
                        span Assa
                        br
                        span.time-display 123.456s
                      td.has-text-centered
                        span timakro
                        br
                        span.time-display 245.000s
                      td.has-text-centered
                        span timakro
                        br
                        span.time-display 69.800s
                      td.has-text-centered
                        span Tezcan
                        br
                        span.time-display 142.500s
                      td.has-text-centered
                        span Assa
                        br
                        span.time-display 32.600s
                    
                    tr
                      td.rank-cell 5th
                      td.has-text-centered
                        span nether
                        br
                        span.time-display 124.123s
                      td.has-text-centered
                        span nether
                        br
                        span.time-display 247.300s
                      td.has-text-centered
                        span Ryozuki
                        br
                        span.time-display 71.200s
                      td.has-text-centered
                        span timakro
                        br
                        span.time-display 143.900s
                      td.has-text-centered
                        span nether
                        br
                        span.time-display 33.300s
              
              //- Map Information Section
              h3.title.is-5.has-text-centered.mt-6.mb-4 Maps
              .columns.is-multiline.map-cards-grid
                .column.is-one-fifth
                  .map-card
                    strong Fullspeed: 
                    | run_venice
                    br
                    small by Assa
                
                .column.is-one-fifth
                  .map-card
                    strong Hook: 
                    | hook_tower
                    br
                    small by Ryozuki
                
                .column.is-one-fifth
                  .map-card
                    strong Skill: 
                    | skillmap_pro
                    br
                    small by timakro
                
                .column.is-one-fifth
                  .map-card
                    strong LOL: 
                    | lol_crazy
                    br
                    small by nether
                
                .column.is-one-fifth
                  .map-card
                    strong Fastcap: 
                    | fastcap_rush
                    br
                    small by Tezcan
          
          //- Points Champion Section
          br
          br
          .points-champion-section.mt-6
            h2.title.has-text-centered.mb-5 Points Champions of December
            .box
              .table-container
                table.table.is-fullwidth.is-striped.is-hoverable.champions-table
                  thead
                    tr
                      th.has-text-centered
                        span.icon.has-text-warning
                          i.fas.fa-trophy
                        | Rank
                      th.has-text-centered Player
                      th.has-text-centered Points
                  tbody
                    tr
                      td.rank-cell 1st
                      td.has-text-centered
                        strong Champion
                      td.has-text-centered
                        strong 1,234 pts
                    
                    tr
                      td.rank-cell 2nd
                      td.has-text-centered
                        strong Player2
                      td.has-text-centered
                        strong 1,102 pts
                    
                    tr
                      td.rank-cell 3rd
                      td.has-text-centered
                        strong Player3
                      td.has-text-centered
                        strong 978 pts
                    
                    tr
                      td.rank-cell 4th
                      td.has-text-centered
                        span Player4
                      td.has-text-centered
                        span 856 pts
                    
                    tr
                      td.rank-cell 5th
                      td.has-text-centered
                        span Player5
                      td.has-text-centered
                        span 742 pts
    
    //- Statistics Section
    section.section
      .container
        h2.title.has-text-centered.mb-6 Statistics
        
        //- Top 5 Charts Row
        .columns.is-multiline
          //- Overall Points Top 5
          .column.is-6
            .box
              h3.title.is-4.has-text-centered.mb-5 Top 5 Overall Points
              .content
                table.table.is-fullwidth.is-striped.is-hoverable
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td 92345
                    tr
                      td 2
                      td
                        strong Ryozuki
                      td 90345
                    tr
                      td 3
                      td
                        strong Assa
                      td 84956 
                    tr
                      td 4
                      td Tezcan
                      td 66666 
                    tr
                      td 5
                      td nether
                      td 66661
          
          //- Overall Wins Top 5
          .column.is-6
            .box
              h3.title.is-4.has-text-centered.mb-5 Top 5 Overall Records
              .content
                table.table.is-fullwidth.is-striped.is-hoverable
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td 15
                    tr
                      td 2
                      td
                        strong Ryozuki
                      td 14
                    tr
                      td 3
                      td
                        strong Assa
                      td 12
                    tr
                      td 4
                      td Tezcan
                      td 10
                    tr
                      td 5
                      td nether
                      td 8
        
        //- Category Winners Row
        .columns.is-multiline.mt-4
          //- Info Card
          .column.is-4
            .box.has-text-centered
              span.icon.is-large.has-text-link.mb-3
                i.fas.fa-info-circle.fa-3x
              .content
                p.mb-2
                  strong.is-size-5 Category Points
                p.mb-1
                  span.is-size-6 Record holder: 100 points
                p.mb-1
                  span.is-size-6 Points decrease with ranking
          
          //- Fastcap Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-warning
                      i.fas.fa-flag
                .level-item.has-text-centered
                  h3.title.is-5 Fastcap Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td.has-text-right 86784
                    tr
                      td 2
                      td Ryozuki
                      td.has-text-right 78921
                    tr
                      td 3
                      td Assa
                      td.has-text-right 64371
                    tr
                      td 4
                      td Tezcan
                      td.has-text-right 51128
                    tr
                      td.has-text-left 5
                      td nether
                      td.has-text-right 41145
          
          //- Hook Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon(style="color: #ff9800;")
                      i.fas.fa-link
                .level-item.has-text-centered
                  h3.title.is-5 Hook Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Ryozuki
                      td.has-text-right 92456
                    tr
                      td 2
                      td Assa
                      td.has-text-right 85229
                    tr
                      td 3
                      td Tezcan
                      td.has-text-right 78909
                    tr
                      td 4
                      td nether
                      td.has-text-right 61337
                    tr
                      td 5
                      td timakro
                      td.has-text-right 34678
        
        .columns.is-multiline
          //- Skill Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-success
                      i.fas.fa-crosshairs
                .level-item.has-text-centered
                  h3.title.is-5 Skill Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Assa
                      td.has-text-right 98567
                    tr
                      td 2
                      td Tezcan
                      td.has-text-right 83123
                    tr
                      td 3
                      td nether
                      td.has-text-right 73884
                    tr
                      td 4
                      td timakro
                      td.has-text-right 48335
                    tr
                      td 5
                      td Ryozuki
                      td.has-text-right 11912
          
          //- LOL Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-danger
                      i.fas.fa-laugh
                .level-item.has-text-centered
                  h3.title.is-5 LOL Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Tezcan
                      td.has-text-right 81115
                    tr
                      td 2
                      td nether
                      td.has-text-right 80448
                    tr
                      td 3
                      td timakro
                      td.has-text-right 77782
                    tr
                      td 4
                      td Ryozuki
                      td.has-text-right 77224
                    tr
                      td 5
                      td Assa
                      td.has-text-right 55556
          
          //- Fullspeed Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon(style="color: #3273dc;")
                      i.fas.fa-rocket
                .level-item.has-text-centered
                  h3.title.is-5 Fullspeed Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td.has-text-right 14222
                    tr
                      td 2
                      td Tezcan
                      td.has-text-right 13186
                    tr
                      td 3
                      td nether
                      td.has-text-right 12055
                    tr
                      td 4
                      td Assa
                      td.has-text-right 11218
                    tr
                      td 5
                      td Ryozuki
                      td.has-text-right 10876
        
        //- Category Wins Row
        .columns.is-multiline.mt-4
          //- Info Card
          .column.is-4
            .box.has-text-centered
              span.icon.is-large.has-text-link.mb-3
                i.fas.fa-info-circle.fa-3x
              .content
                p.mb-2
                  strong.is-size-5 Category Records
                p.mb-1
                  span.is-size-6 The fastest player wins!
                p.mb-1
                  span.is-size-6 The best of each category
          
          //- Fastcap Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-warning
                      i.fas.fa-flag
                .level-item.has-text-centered
                  h3.title.is-5 Fastcap Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td.has-text-right 12
                    tr
                      td 2
                      td Ryozuki
                      td.has-text-right 10
                    tr
                      td 3
                      td Assa
                      td.has-text-right 8
                    tr
                      td 4
                      td Tezcan
                      td.has-text-right 7
                    tr
                      td 5
                      td nether
                      td.has-text-right 6
          
          //- Hook Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon(style="color: #ff9800;")
                      i.fas.fa-link
                .level-item.has-text-centered
                  h3.title.is-5 Hook Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Ryozuki
                      td.has-text-right 15
                    tr
                      td 2
                      td Assa
                      td.has-text-right 12
                    tr
                      td 3
                      td Tezcan
                      td.has-text-right 9
                    tr
                      td 4
                      td nether
                      td.has-text-right 7
                    tr
                      td 5
                      td timakro
                      td.has-text-right 5
        
        .columns.is-multiline
          //- Skill Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-success
                      i.fas.fa-crosshairs
                .level-item.has-text-centered
                  h3.title.is-5 Skill Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Assa
                      td.has-text-right 10
                    tr
                      td 2
                      td Tezcan
                      td.has-text-right 8
                    tr
                      td 3
                      td nether
                      td.has-text-right 7
                    tr
                      td 4
                      td timakro
                      td.has-text-right 5
                    tr
                      td 5
                      td Ryozuki
                      td.has-text-right 4
          
          //- LOL Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-danger
                      i.fas.fa-laugh
                .level-item.has-text-centered
                  h3.title.is-5 LOL Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Tezcan
                      td.has-text-right 8
                    tr
                      td 2
                      td nether
                      td.has-text-right 7
                    tr
                      td 3
                      td timakro
                      td.has-text-right 6
                    tr
                      td 4
                      td Ryozuki
                      td.has-text-right 5
                    tr
                      td 5
                      td Assa
                      td.has-text-right 4
          
          //- Fullspeed Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon(style="color: #3273dc;")
                      i.fas.fa-rocket
                .level-item.has-text-centered
                  h3.title.is-5 Fullspeed Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td.has-text-right 14
                    tr
                      td 2
                      td Tezcan
                      td.has-text-right 11
                    tr
                      td 3
                      td nether
                      td.has-text-right 9
                    tr
                      td 4
                      td Assa
                      td.has-text-right 6
                    tr
                      td 5
                      td Ryozuki
                      td.has-text-right 5
block scripts
  script(src='/static/js/secret.js')
  script(src='https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js')
