extends layout

block content
  main
    br
    br
    br
    br
    section.hero.is-dark
      .hero-body 
        .container 
          h1.title
            | Monthly Shorts
          h2.subtitle
            br 
            | Five exciting Maps where the time is kept secret till the end of the month! 
    section.section
      .container
          //- YouTube Video Carousel
          .video-carousel-container
            .video-carousel
              button.carousel-btn.carousel-prev#carouselPrev
                span.icon
                  i.fas.fa-chevron-left
              .carousel-wrapper
                .carousel-track#carouselTrack
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/BnwHuOedMog?si=bdQXV4k8qfGnZKed' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/zAcevVN4t1o?si=6lcuZUr01GSeHZGb' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/jYZo_lAcf6o?si=4keimBRrdKiXqRwn' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/T1ujMGiTH6o?si=O2Lmibkdfw_DJb6d' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
                  .carousel-slide
                    .video-container
                      iframe.video(src='https://www.youtube.com/embed/8qK84t6nh8I?si=KXuOvoyjJ-dvVGDV' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' referrerpolicy='strict-origin-when-cross-origin' allowfullscreen)
              button.carousel-btn.carousel-next#carouselNext
                span.icon
                  i.fas.fa-chevron-right
            
            .carousel-indicators#carouselIndicators
                span.indicator.active(data-index='0')
                span.indicator(data-index='1')
                span.indicator(data-index='2')
                span.indicator(data-index='3')
                span.indicator(data-index='4')
          
          //- Tournament Cards Slider
          .tournament-slider-section.mt-6
            h2.title.has-text-centered Champions of December!
            .tournament-slider-container
              button.slider-nav-btn.slider-prev#sliderPrev
                span.icon
                  i.fas.fa-chevron-left
              
              .tournament-slider-main
                .slider-track#sliderTrack
                  //- Fullspeed Card
                  .slider-item
                    article.tile.is-child.notification.is-white.has-shadow
                      p.title.has-text-centered.mb-2 Fullspeed
                      p.subtitle.map-info.has-text-centered.mb-5
                        span.icon.has-text-info
                          i.fas.fa-map
                        strong run_nyxar by Tezcan & timakro
                      
                      .podium-container
                        .podium-place.podium-fourth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e67e22;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fourth
                            span.podium-rank 4
                          .podium-info
                            strong.player-name Assa
                            span.prize-time 17.218
                        
                        .podium-place.podium-second
                          .podium-trophy
                            span.icon.has-text-grey.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-second
                            span.podium-rank 2
                          .podium-info
                            strong.player-name Tezcan
                            span.prize-time 15.186
                        
                        .podium-place.podium-first
                          .podium-trophy
                            span.icon.has-text-warning.is-large
                              i.fas.fa-trophy.fa-3x
                          .podium-block.podium-block-first
                            span.podium-rank 1
                          .podium-info
                            strong.player-name timakro
                            span.prize-time 14.222
                        
                        .podium-place.podium-third
                          .podium-trophy
                            span.icon.has-text-brown.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-third
                            span.podium-rank 3
                          .podium-info
                            strong.player-name nether
                            span.prize-time 16.055
                        
                        .podium-place.podium-fifth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e74c3c;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fifth
                            span.podium-rank 5
                          .podium-info
                            strong.player-name Ryozuki
                            span.prize-time 18.876
                  
                  //- Hook Card
                  .slider-item
                    article.tile.is-child.notification.is-white.has-shadow
                      p.title.has-text-centered.mb-2 Hook
                      p.subtitle.map-info.has-text-centered.mb-5
                        span.icon.has-text-info
                          i.fas.fa-map
                        strong run_hookmaster by Assa
                      
                      .podium-container
                        .podium-place.podium-fourth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e67e22;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fourth
                            span.podium-rank 4
                          .podium-info
                            strong.player-name HookDude
                            span.prize-time 31.337
                        
                        .podium-place.podium-second
                          .podium-trophy
                            span.icon.has-text-grey.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-second
                            span.podium-rank 2
                          .podium-info
                            strong.player-name ChainKing
                            span.prize-time 25.229
                        
                        .podium-place.podium-first
                          .podium-trophy
                            span.icon.has-text-warning.is-large
                              i.fas.fa-trophy.fa-3x
                          .podium-block.podium-block-first
                            span.podium-rank 1
                          .podium-info
                            strong.player-name HookMaster
                            span.prize-time 22.456
                        
                        .podium-place.podium-third
                          .podium-trophy
                            span.icon.has-text-brown.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-third
                            span.podium-rank 3
                          .podium-info
                            strong.player-name SwingPro
                            span.prize-time 28.909
                        
                        .podium-place.podium-fifth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e74c3c;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fifth
                            span.podium-rank 5
                          .podium-info
                            strong.player-name GrappleGod
                            span.prize-time 34.678
                  
                  //- Skill Card
                  .slider-item
                    article.tile.is-child.notification.is-white.has-shadow
                      p.title.has-text-centered.mb-2 Skill
                      p.subtitle.map-info.has-text-centered.mb-5
                        span.icon.has-text-info
                          i.fas.fa-map
                        strong run_skillmap by GELO
                      
                      .podium-container
                        .podium-place.podium-fourth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e67e22;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fourth
                            span.podium-rank 4
                          .podium-info
                            strong.player-name SkillShot
                            span.prize-time 65.335
                        
                        .podium-place.podium-second
                          .podium-trophy
                            span.icon.has-text-grey.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-second
                            span.podium-rank 2
                          .podium-info
                            strong.player-name ProGamer
                            span.prize-time 58.123
                        
                        .podium-place.podium-first
                          .podium-trophy
                            span.icon.has-text-warning.is-large
                              i.fas.fa-trophy.fa-3x
                          .podium-block.podium-block-first
                            span.podium-rank 1
                          .podium-info
                            strong.player-name SkillMaster
                            span.prize-time 54.567
                        
                        .podium-place.podium-third
                          .podium-trophy
                            span.icon.has-text-brown.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-third
                            span.podium-rank 3
                          .podium-info
                            strong.player-name EliteTee
                            span.prize-time 61.884
                        
                        .podium-place.podium-fifth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e74c3c;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fifth
                            span.podium-rank 5
                          .podium-info
                            strong.player-name TechWizard
                            span.prize-time 69.912
                  
                  //- LOL Card
                  .slider-item
                    article.tile.is-child.notification.is-white.has-shadow
                      p.title.has-text-centered.mb-2 LOL
                      p.subtitle.map-info.has-text-centered.mb-5
                        span.icon.has-text-info
                          i.fas.fa-map
                        strong run_funny by heinrich5991
                      
                      .podium-container
                        .podium-place.podium-fourth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e67e22;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fourth
                            span.podium-rank 4
                          .podium-info
                            strong.player-name Prankster
                            span.prize-time 93.224
                        
                        .podium-place.podium-second
                          .podium-trophy
                            span.icon.has-text-grey.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-second
                            span.podium-rank 2
                          .podium-info
                            strong.player-name Joker
                            span.prize-time 85.448
                        
                        .podium-place.podium-first
                          .podium-trophy
                            span.icon.has-text-warning.is-large
                              i.fas.fa-trophy.fa-3x
                          .podium-block.podium-block-first
                            span.podium-rank 1
                          .podium-info
                            strong.player-name FunnyGuy
                            span.prize-time 81.115
                        
                        .podium-place.podium-third
                          .podium-trophy
                            span.icon.has-text-brown.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-third
                            span.podium-rank 3
                          .podium-info
                            strong.player-name Comedian
                            span.prize-time 89.782
                        
                        .podium-place.podium-fifth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e74c3c;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fifth
                            span.podium-rank 5
                          .podium-info
                            strong.player-name LOLmaster
                            span.prize-time 97.556
                  
                  //- Fastcap Card
                  .slider-item
                    article.tile.is-child.notification.is-white.has-shadow
                      p.title.has-text-centered.mb-2 Fastcap
                      p.subtitle.map-info.has-text-centered.mb-5
                        span.icon.has-text-info
                          i.fas.fa-map
                        strong run_speed by Ryozuki
                      
                      .podium-container
                        .podium-place.podium-fourth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e67e22;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fourth
                            span.podium-rank 4
                          .podium-info
                            strong.player-name RapidTee
                            span.prize-time 11.128
                        
                        .podium-place.podium-second
                          .podium-trophy
                            span.icon.has-text-grey.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-second
                            span.podium-rank 2
                          .podium-info
                            strong.player-name QuickCap
                            span.prize-time 9.892
                        
                        .podium-place.podium-first
                          .podium-trophy
                            span.icon.has-text-warning.is-large
                              i.fas.fa-trophy.fa-3x
                          .podium-block.podium-block-first
                            span.podium-rank 1
                          .podium-info
                            strong.player-name SpeedDemon
                            span.prize-time 8.678
                        
                        .podium-place.podium-third
                          .podium-trophy
                            span.icon.has-text-brown.is-large
                              i.fas.fa-medal.fa-2x
                          .podium-block.podium-block-third
                            span.podium-rank 3
                          .podium-info
                            strong.player-name FastRunner
                            span.prize-time 10.437
                        
                        .podium-place.podium-fifth
                          .podium-trophy
                            span.icon.is-medium(style="color: #e74c3c;")
                              i.fas.fa-certificate.fa-lg
                          .podium-block.podium-block-fifth
                            span.podium-rank 5
                          .podium-info
                            strong.player-name FlashCapture
                            span.prize-time 12.089
              
              button.slider-nav-btn.slider-next#sliderNext
                span.icon
                  i.fas.fa-chevron-right
            
            .slider-indicators#sliderIndicators
              span.slider-dot.active(data-index='0')
              span.slider-dot(data-index='1')
              span.slider-dot(data-index='2')
              span.slider-dot(data-index='3')
              span.slider-dot(data-index='4')
          
          //- Points Champion Section
          .points-champion-section.mt-6
            .tournament-slider-container
              .tournament-slider-main
                article.tile.is-child.notification.is-white.has-shadow
                  p.title.has-text-centered.mb-2 Points Champions of December
                  
                  .podium-container
                    .podium-place.podium-fourth
                      .podium-trophy
                        span.icon.is-medium(style="color: #e67e22;")
                          i.fas.fa-certificate.fa-lg
                      .podium-block.podium-block-fourth
                        span.podium-rank 4
                      .podium-info
                        strong.player-name Player4
                        span.prize-time 856 pts
                    
                    .podium-place.podium-second
                      .podium-trophy
                        span.icon.has-text-grey.is-large
                          i.fas.fa-medal.fa-2x
                      .podium-block.podium-block-second
                        span.podium-rank 2
                      .podium-info
                        strong.player-name Player2
                        span.prize-time 1,102 pts
                    
                    .podium-place.podium-first
                      .podium-trophy
                        span.icon.has-text-warning.is-large
                          i.fas.fa-trophy.fa-3x
                      .podium-block.podium-block-first
                        span.podium-rank 1
                      .podium-info
                        strong.player-name Champion
                        span.prize-time 1,234 pts
                    
                    .podium-place.podium-third
                      .podium-trophy
                        span.icon.has-text-brown.is-large
                          i.fas.fa-medal.fa-2x
                      .podium-block.podium-block-third
                        span.podium-rank 3
                      .podium-info
                        strong.player-name Player3
                        span.prize-time 978 pts
                    
                    .podium-place.podium-fifth
                      .podium-trophy
                        span.icon.is-medium(style="color: #e74c3c;")
                          i.fas.fa-certificate.fa-lg
                      .podium-block.podium-block-fifth
                        span.podium-rank 5
                      .podium-info
                        strong.player-name Player5
                        span.prize-time 742 pts
    
    //- Statistics Section
    section.section
      .container
        h2.title.has-text-centered.mb-6 Statistics
        
        //- Top 5 Charts Row
        .columns.is-multiline
          //- Overall Points Top 5
          .column.is-6
            .box
              h3.title.is-4.has-text-centered.mb-5 Top 5 Overall Points
              .content
                table.table.is-fullwidth.is-striped.is-hoverable
                  thead
                    tr
                      th Rank
                      th Player
                      th Points
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td 92345
                    tr
                      td 2
                      td
                        strong Ryozuki
                      td 90345
                    tr
                      td 3
                      td
                        strong Assa
                      td 84956 
                    tr
                      td 4
                      td Tezcan
                      td 66666 
                    tr
                      td 5
                      td nether
                      td 66661
          
          //- Overall Wins Top 5
          .column.is-6
            .box
              h3.title.is-4.has-text-centered.mb-5 Top 5 Overall Records
              .content
                table.table.is-fullwidth.is-striped.is-hoverable
                  thead
                    tr
                      th Rank
                      th Player
                      th Records
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td 15
                    tr
                      td 2
                      td
                        strong Ryozuki
                      td 14
                    tr
                      td 3
                      td
                        strong Assa
                      td 12
                    tr
                      td 4
                      td Tezcan
                      td 10
                    tr
                      td 5
                      td nether
                      td 8
        
        //- Category Winners Row
        .columns.is-multiline.mt-4
          //- Info Card
          .column.is-4
            .box.has-text-centered
              span.icon.is-large.has-text-link.mb-3
                i.fas.fa-info-circle.fa-3x
              .content
                p.mb-2
                  strong.is-size-5 Category Points
                p.mb-1
                  span.is-size-6 Record holder: 100 points
                p.mb-1
                  span.is-size-6 Points decrease with ranking
          
          //- Fastcap Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-warning
                      i.fas.fa-flag
                .level-item.has-text-centered
                  h3.title.is-5 Fastcap Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td.has-text-right 86784
                    tr
                      td 2
                      td Ryozuki
                      td.has-text-right 78921
                    tr
                      td 3
                      td Assa
                      td.has-text-right 64371
                    tr
                      td 4
                      td Tezcan
                      td.has-text-right 51128
                    tr
                      td.has-text-left 5
                      td nether
                      td.has-text-right 41145
          
          //- Hook Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon(style="color: #ff9800;")
                      i.fas.fa-link
                .level-item.has-text-centered
                  h3.title.is-5 Hook Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Ryozuki
                      td.has-text-right 92456
                    tr
                      td 2
                      td Assa
                      td.has-text-right 85229
                    tr
                      td 3
                      td Tezcan
                      td.has-text-right 78909
                    tr
                      td 4
                      td nether
                      td.has-text-right 61337
                    tr
                      td 5
                      td timakro
                      td.has-text-right 34678
        
        .columns.is-multiline
          //- Skill Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-success
                      i.fas.fa-crosshairs
                .level-item.has-text-centered
                  h3.title.is-5 Skill Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Assa
                      td.has-text-right 98567
                    tr
                      td 2
                      td Tezcan
                      td.has-text-right 83123
                    tr
                      td 3
                      td nether
                      td.has-text-right 73884
                    tr
                      td 4
                      td timakro
                      td.has-text-right 48335
                    tr
                      td 5
                      td Ryozuki
                      td.has-text-right 11912
          
          //- LOL Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-danger
                      i.fas.fa-laugh
                .level-item.has-text-centered
                  h3.title.is-5 LOL Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Tezcan
                      td.has-text-right 81115
                    tr
                      td 2
                      td nether
                      td.has-text-right 80448
                    tr
                      td 3
                      td timakro
                      td.has-text-right 77782
                    tr
                      td 4
                      td Ryozuki
                      td.has-text-right 77224
                    tr
                      td 5
                      td Assa
                      td.has-text-right 55556
          
          //- Fullspeed Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon(style="color: #3273dc;")
                      i.fas.fa-rocket
                .level-item.has-text-centered
                  h3.title.is-5 Fullspeed Top 5 Points
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td.has-text-right 14222
                    tr
                      td 2
                      td Tezcan
                      td.has-text-right 13186
                    tr
                      td 3
                      td nether
                      td.has-text-right 12055
                    tr
                      td 4
                      td Assa
                      td.has-text-right 11218
                    tr
                      td 5
                      td Ryozuki
                      td.has-text-right 10876
        
        //- Category Wins Row
        .columns.is-multiline.mt-4
          //- Info Card
          .column.is-4
            .box.has-text-centered
              span.icon.is-large.has-text-link.mb-3
                i.fas.fa-info-circle.fa-3x
              .content
                p.mb-2
                  strong.is-size-5 Category Records
                p.mb-1
                  span.is-size-6 The fastest player wins!
                p.mb-1
                  span.is-size-6 The best of each category
          
          //- Fastcap Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-warning
                      i.fas.fa-flag
                .level-item.has-text-centered
                  h3.title.is-5 Fastcap Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td.has-text-right 12
                    tr
                      td 2
                      td Ryozuki
                      td.has-text-right 10
                    tr
                      td 3
                      td Assa
                      td.has-text-right 8
                    tr
                      td 4
                      td Tezcan
                      td.has-text-right 7
                    tr
                      td 5
                      td nether
                      td.has-text-right 6
          
          //- Hook Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon(style="color: #ff9800;")
                      i.fas.fa-link
                .level-item.has-text-centered
                  h3.title.is-5 Hook Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Ryozuki
                      td.has-text-right 15
                    tr
                      td 2
                      td Assa
                      td.has-text-right 12
                    tr
                      td 3
                      td Tezcan
                      td.has-text-right 9
                    tr
                      td 4
                      td nether
                      td.has-text-right 7
                    tr
                      td 5
                      td timakro
                      td.has-text-right 5
        
        .columns.is-multiline
          //- Skill Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-success
                      i.fas.fa-crosshairs
                .level-item.has-text-centered
                  h3.title.is-5 Skill Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Assa
                      td.has-text-right 10
                    tr
                      td 2
                      td Tezcan
                      td.has-text-right 8
                    tr
                      td 3
                      td nether
                      td.has-text-right 7
                    tr
                      td 4
                      td timakro
                      td.has-text-right 5
                    tr
                      td 5
                      td Ryozuki
                      td.has-text-right 4
          
          //- LOL Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon.has-text-danger
                      i.fas.fa-laugh
                .level-item.has-text-centered
                  h3.title.is-5 LOL Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong Tezcan
                      td.has-text-right 8
                    tr
                      td 2
                      td nether
                      td.has-text-right 7
                    tr
                      td 3
                      td timakro
                      td.has-text-right 6
                    tr
                      td 4
                      td Ryozuki
                      td.has-text-right 5
                    tr
                      td 5
                      td Assa
                      td.has-text-right 4
          
          //- Fullspeed Wins Top 5
          .column.is-4
            .box
              .level.is-mobile.mb-4
                .level-left
                  .level-item
                    span.icon(style="color: #3273dc;")
                      i.fas.fa-rocket
                .level-item.has-text-centered
                  h3.title.is-5 Fullspeed Top 5 Records
              .content
                table.table.is-fullwidth.is-narrow.is-striped.is-hoverable
                  tbody
                    tr
                      td 1
                      td
                        strong timakro
                      td.has-text-right 14
                    tr
                      td 2
                      td Tezcan
                      td.has-text-right 11
                    tr
                      td 3
                      td nether
                      td.has-text-right 9
                    tr
                      td 4
                      td Assa
                      td.has-text-right 6
                    tr
                      td 5
                      td Ryozuki
                      td.has-text-right 5
    //- Past Champions Timeline Section
    section.section
      .container
        h1.title.has-text-centered.mb-6 Past Monthly Champions Timeline
        .box
          .box-header(style="cursor: pointer; display: flex; justify-content: space-between; align-items: center; padding: 1rem; border-bottom: 1px solid #dbdbdb;" onclick="toggleTimeline('timeline2026')")
            h3.title.is-5(style="margin: 0;") 2026 Champions
            span.icon#timeline2026-icon
              i.fas.fa-chevron-right
          #timeline2026.timeline-content(style="padding: 1.5rem; display: none;")
            .timeline-container
              canvas#championsTimeline2026(style="max-height: 600px;")
            //- Download Maps Section
            .has-text-centered.mt-5
              button.button.is-small(onclick="downloadMaps2026()")
                span.icon
                  i.fas.fa-download
                span Download All 2026 Maps
          .box-header(style="cursor: pointer; display: flex; justify-content: space-between; align-items: center; padding: 1rem; border-bottom: 1px solid #dbdbdb;" onclick="toggleTimeline('timeline2027')")
            h3.title.is-5(style="margin: 0;") 2027 Champions
            span.icon#timeline2027-icon
              i.fas.fa-chevron-right
          #timeline2027.timeline-content(style="padding: 1.5rem; display: none;")
            .timeline-container
              canvas#championsTimeline2027(style="max-height: 600px;")
            //- Download Maps Section
            .has-text-centered.mt-5
              button.button.is-small(onclick="downloadMaps2027()")
                span.icon
                  i.fas.fa-download
                span Download All 2027 Maps
block scripts
  script(src='/static/js/secret.js')
  script(src='https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js')
  script(src='/static/js/timeline-toggle.js')
  script(src='/static/js/monthlyshortstimeline.js')
