extends layout

block content
  main
    section.section
      .container
        .content.has-text-centered
          img(src=`/static/img/tournament.png` alt="tournament")
          hr
          .columns.is-centered
            .column.nocontent
              .box.has-text-centered 
                p.title COMING SOON
                  a(href="https://discord.gg/gbgEs7m6kK")
                    img(src=`/static/img/discord-icon-logo.png` alt="Discord" align="right" style="max-height: 32px")
                p.subtitle Join our Discord for the next announcement!
          .columns.is-centered
            .column.is-half
              .box.has-text-centered
                p.title Catch the Netherman Tournament
                p.subtitle.author-date 2024-02-04 | hosted by Derp | Prize Pool: 50€ 
                hr
                img(src=`/static/img/tournamentmaps/CatchtheNetherman-1-run_venice.png`)
                center 
                  p.subtitle 
                    strong run_venice by Assa 
                center 
                br
                p
                  img(src=`/static/img/medals/gold.png`)
                  strong Push 35€
                p(align="left")
                  img(src=`/static/img/medals/silver.png`)
                  strong Fudgyking 15€
                p(align="right")
                  img(src=`/static/img/medals/bronze.png`)
                  strong Saix 5€
                br
                p.subtitle Tournament Details:
                p For every record stolen from nether you win 5€. In addition, Assa provided 20€ for the map run_venice.
          .columns
            .column
              .box.has-text-centered
                p.title Short Race Tournament
                p.subtitle.author-date 2021-01-23 | hosted by Smash | Prize Pool: 80€ 
                hr
                img(src=`/static/img/tournamentmaps/SRT-1-run_4Smash.png`)
                center 
                  p.subtitle 
                    strong run_4Smash by GELO
                center 
                br
                p
                  img(src=`/static/img/medals/gold.png`)
                  strong Saix 40€
                p(align="left")
                  img(src=`/static/img/medals/silver.png`)
                  strong Fudgyking 25€
                p(align="right")
                  img(src=`/static/img/medals/bronze.png`)
                  strong Fabian 15€
                br
                p.subtitle Tournament Details:
                p In a time-based format, the winner goes to whoever is in first place at the end of the 30 minutes!        
            .column
              .box.has-text-centered
                p.title TeeSmash Tournament
                p.subtitle.author-date 2016-07-17 | hosted by Ryozuki | Prize Pool: -
                hr
                img(src=`/static/img/tournamentmaps/TeeSmash-1-ts1.png`)
                center
                  p.subtitle
                    strong ts1 by heinrich5991
                center
                br
                p
                  img(src=`/static/img/medals/gold.png`)
                  strong Beast
                p(align="left")
                  img(src=`/static/img/medals/silver.png`)
                  strong RayB.
                p(align="right")
                  img(src=`/static/img/medals/bronze.png`)
                  strong timakro
                br
                p.subtitle Participants:
                p ChillerDragon, Ryozuki, Tezcan, RedFight, timakro, Kladdy, gdin, FireRed, RayB., Beast, fikmesån, tèíñi94®0cK
  