extends layout

block content
  main
    section.section
      .container
        .content.has-text-centered
          img(src=`/img/tournament.png` alt="tournament")
          hr
          .columns
              .column
                .box.is-half.has-text-centered
                  p.title COMING SOON
                  p.subtitle DATE
              .column
                .box.is-half.has-text-centered
                  p.title TeeSmash Tournament
                  p.subtitle 17/07/2016
                  p
                    img(src=`/img/medals/gold.png`)
                    strong Beast
                  p(align="left")
                    img(src=`/img/medals/silver.png`)
                    strong RayB.
                  p(align="right")
                    img(src=`/img/medals/bronze.png`)
                    strong timakro
                  p.subtitle Participants:
                  p ChillerDragon, Ryozuki, Tezcan, RedFight, Kladdy, gdin, FireRed, RayB., Beast, fikmesån, tèíñi94®0cK
