@import url('https://fonts.googleapis.com/css?family=Montserrat')

html,body
  background: #EFF3F4

.box
	height: 100%
a
    color: #c68b25
a:hover
    color: #FFA500  

.hb:hover
	background: orange

.author-date
  color: #D3D3D3
  font-size: 16px

.footer
	background: #EFF3F4

.mb
	margin-top: 40px

.nocontent
  height: 100%

.card.unique-card
  height: 100%
  display: flex
  flex-direction: column
  .card-footer
    margin-top: auto
  a
    color: #c68b25
  a:hover
    color: #FFA500

.no-overflow
  overflow: hidden

.author-image
  position: absolute
  top: -30px
  left: 50%
  width: 60px
  height: 60px
  margin-left: -30px
  border: 3px solid #ccc
  border-radius: 50%

.article, .promo-block
  margin-top: 2rem

.article-title
  line-height: 2

.pagination-link.is-current
  color: #363636
  background-color: #ffdd57
  border-color: #e9c94f

.pagination
  a:not([disabled]):active, a:not([disabled]):focus
    border-color: #e9c94f !important

.servernot
  overflow-x: auto
  padding: 20px 10px
  .serverbox
    width: 410px
    @media screen and (max-width: 500px)
      width: 100%
    margin: 0 auto
    .serverinfobox
      width: calc(100% - 30px)
      .servername
        display: inline
        margin-right: 15px
        white-space: nowrap
      .servermap
        margin-right: 15px
        padding: 3px
        background-color: #ededed
        white-space: nowrap
      .servercount
        text-decoration: underline dashed
        white-space: nowrap
    .serverreach
      position: absolute
      top: 21px
      right: 28px
      border-radius: 0.75em
    .serveron
      width: 1.5em
      background-color: #62ba60
    .serveroff
      width: 1.5em
      background-color: #c14326
    .serverofftext
      padding-left: 14px
      padding-right: 28px
      background-color: #db8a78
    .serverplayers
      table
        margin: 10px 0px 0px 0px
        @media screen and (max-width: 500px)
          font-size: 14px
        @media screen and (max-width: 420px)
          font-size: 12px
        td
          white-space: nowrap
        td:last-child
          width: 100%
        img
          height: 1em
          position: relative
          top: 3px

.warning-tagsinput
  div.is-focused:not(.is-danger):not(.is-success)
    border-color: #ffdd57
    box-shadow: 0 0 0 0.125em transparentize(#ffdd57, 0.6)
  span.tag
    background-color: #ffdd57 !important
    color: inherit !important

.warning-input:focus:not(.is-danger):not(.is-success)
  border-color: #ffdd57
  box-shadow: 0 0 0 0.125em transparentize(#ffdd57, 0.6)

.warning-dark-input
  background-color: #2b2b2b
  color: #f5f5f5
  border-color: #262626
.warning-dark-input:hover
  border-color: #191919
.warning-dark-input:focus
  border-color: #e89200
  box-shadow: 0 0 0 0.125em transparentize(#e89200, 0.6)
.warning-dark-input::placeholder
  color: #595959

a.navbar-item:hover
  color: #e89200

a.navbar-item:active
  color: #e89200

a.navbar-item:focus
  color: #e89200

.navbar
  box-shadow: 0 2px 0 0 #eeeeee
  .button
    border: none
  .button:focus:not(:active)
    box-shadow: none


.tabs li.is-active a
  border-bottom-color: #e89200
  color: #e89200

.rank-nav
  a
    color: whitesmoke !important
    outline: none !important
  a:hover
    color: #e89200 !important
  li::before
    color: #666666 !important

.rank-anchor
  display: block
  position: relative
  top: -70px
  visibility: hidden

.playerranks-header
  max-width: 800px
  margin-bottom: 24px
  .column
    .subtitle
      display: inline-block
      margin-right: 30px
      margin-bottom: 0

.unfinished-maps
  margin-top: 20px
  margin-bottom: 40px
  p
    display: -webkit-box;
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    overflow: hidden
    &.truncated + label
      display: inline-block
  label
    display: none
    font-weight: bold
    font-size: 12px
    cursor: pointer
  input:checked + p
    -webkit-line-clamp: unset

.table-links table a,
.table-links ul a,
a.unobstrusive
  color: rgb(54, 54, 54);
  text-decoration: none !important
  &:hover
    text-decoration: underline !important

.horizontal-scroll
  overflow-x: auto
  white-space: nowrap

.background-text
  font-family: Montserrat, san-serif

.tr
  float: right

.maps-page-meta
  text-align: center
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.mapmappers span
  &:before
    content: ', '
  &:last-child:before
    content: ' & '
  &:first-child:before
    content: none

.video-container
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56.25%
  .video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

@media (prefers-color-scheme: dark) 
  
  html,body 
    background: #404258
    
  p
    color: white
  
  .subtitle
    color: white

  .subtitle strong, .title strong
    color: white 

  strong
    color: white

  ul
    color: white

  i
    color: white

  .title
    color: white

  .unique-card
    background: #474E68

  .footer
    background-color: #404258

  .card-footer
    border-top: 1px solid #3333
  
  .card-footer-item:not(:last-child) 
    border-right: 1px solid #3333
  
  .navbar
    background-color: #474E68
    box-shadow: 0 2px 0 0 #3333

  .navbar-item
    background-color: #474E68
    color: white

  .navbar-item:hover
    background-color: #4c536e !important
  
  .navbar-item:active
    background-color: #4c536e !important
  
  .box
    background-color: #474E68

  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6,
    color: white

  .notification
    background-color: #474E68 !important

  .notification .title, .notification .subtitle, .notification .subtitle strong
    color: white !important
  
  .notification.is-white
    color: white
  
  .label
    color: white

  .input[disabled], .textarea[disabled], .select select[disabled], fieldset[disabled] .input, fieldset[disabled] .textarea, fieldset[disabled] .select select, .select fieldset[disabled] select
    background-color: #4c536e
    border-color: #a3965f
    color: #8f92a0

  .input::placeholder
    color: #cecece !important

  fieldset[disabled] .radio,
    color: #cecece

  fieldset[disabled] .textarea::placeholder
    color: #cecece !important

  .file-name
    border-color: #a3965f

  .tabs a
    color: white

  .tabs a:hover
    color: #e89200 
    border-bottom-color: #e89200

  .box 
    .title 
      color: white
    .subtitle
      color: white

  .table
    background-color: #474E68
    color: white

  .table.is-striped tbody tr:not(.is-selected):nth-child(2n)
    background-color: #4c536e

  .content table thead td, .content table thead th
    color: white

  .table.is-striped tbody tr:hover
    background-color: #525a7c !important
  
  .card
    background-color: #474E68
  
  .table-links table a, .table-links ul a, a.unobstrusive
    color: white

  .table thead td, .table thead th
    color: white

  .table th
    color: white

  .servernot .serverbox .serverinfobox .servermap {
    background-color: ##474E68

