script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
script(src='/js/form.js')
script(src='/js/nav.js')
script(src='/js/upload.js')
script(src="/js/tagsinput.min.js")
script(src='/js/login.js')