script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
script(src='/static/js/form.js')
script(src='/static/js/nav.js')
//-script(src='/static/js/upload.js')
script(src="/static/js/bulma-tagsinput.min.js")
//-script(src='/static/js/login.js')
