link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
<<<<<<< HEAD
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
link(rel='stylesheet', href='/css/bulma-0.6.2/bulma.css')
link(rel='stylesheet', href='/css/bulma-extensions/bulma-datatables.css')
link(rel='stylesheet', href='/css/bulma-extensions/bulma-tagsinput.css')
link(rel='stylesheet', href='/css/style.css')
link(rel='apple-touch-icon', sizes='57x57', href='/favicon/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='/favicon/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='/favicon/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='/favicon/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='/favicon/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='/favicon/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='/favicon/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='/favicon/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-icon-180x180.png')
=======
link(rel='stylesheet', href='/static/css/bulma.css')
link(rel='stylesheet', href='/static/css/bulma-extensions.min.css')
link(rel='stylesheet', href='/static/css/bulma-datatables.css')
link(rel='stylesheet', href='/static/css/style.css')
link(rel='apple-touch-icon', sizes='57x57', href='/static/favicon/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='/static/favicon/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='/static/favicon/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='/static/favicon/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='/static/favicon/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='/static/favicon/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='/static/favicon/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='/static/favicon/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='/static/favicon/apple-icon-180x180.png')
>>>>>>> df0c5c71348d2d0ade6a3dae405471b54d1eea73
link(rel='icon', type='image/png', sizes='192x192', href='/favicon/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='/static/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='/static/favicon/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='/static/favicon/favicon-16x16.png')
link(rel='manifest', href='/static/favicon/manifest.json')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='/static/favicon/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')