header
  nav.navbar.is-fixed-top(role='navigation', aria-label='main navigation')
    .container
      .navbar-brand
        a.navbar-item(href='/')
          img(src='/static/img/logo.png', alt='Unique - Be smart, be Unique!')
        button.button.navbar-burger(data-target='navMenu')
          span
          span
          span
      #navMenu.navbar-menu
        .navbar-start
          a.navbar-item(href='/member') Members
          a.navbar-item(href='/serverstatus') Serverstatus
          a.navbar-item(href='/apply') Apply
          a.navbar-item(href='/submit') Submit Map
          a.navbar-item(href='/tournaments') Tournaments
          a.navbar-item(href='/ranks') Ranks
          a.navbar-item(href='/maps') Maps
